html {
  box-sizing: border-box;
  margin: 0;
}

/* Mobile view ___________*/
.key-benefits-ctnr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  background: #f2f2f2;
  padding: 0 1.5rem;
}

/* Icon */
.svg-wrapper {
  width: 142px;
  height: 134px;
}

/* Card */
.benef-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 100%;
}

/* Title and paragraph wrapper */
.text-ctnr {
  display: flex;
    flex-direction: column;
    align-items: center;
}

/* Title */
.benef-card h3 {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
      width: fit-content;
  margin: 12px 0 12px 0;
}

/* Paragraph  */
.text-ctnr p {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  margin-top: 0;
}

/* Tablet view ___________*/
@media screen and (min-width: 1024px) {
  .benef-cards-ctnr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .benef-card {
    background-color: lightblue;
    flex-basis: 45%;
    max-width: 45%;
  }

  .svg-wrapper {
    width: 176px;
    height: 160px;
  }
}

/* from small laptops to large screens ___________ */

@media screen and (min-width: 1248px) {
  div.benef-card:first-child, .benef-card:nth-child(2) {
    margin-bottom: 96px;
  }


}